<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/img/consult.webp" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Talk with our experts!</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <!--music-->
  <div class="overflow-x-auto">
    <table class="table-compact table-zebra w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Duration</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="play">
        <!-- row 1 -->
        <tr class="songItem">
          <th>1</th>
          <td>Coniferous-forest</td>
          <td>02:08</td>
          <td><img src="/img/play.png" style="width: 50px; height: 50px;" id="song 1"></td>
          <audio id="sing 1">
            <source src="/music/coniferous-forest.mp3" type="audio/mp3">
          </audio>
        </tr>
        <!-- row 2 -->
        <tr class="songItem">
          <th>2</th>
          <td>Relaxing-music</td>
          <td>21:52</td>
          <td><img src="/img/play.png" style="width: 50px; height: 50px;" id="song 2"></td>
          <audio id="sing 2">
            <source src="/music/relaxing-music.mp3" type="audio/mp3">
          </audio>
        </tr>
        <!-- row 3 -->
        <tr class="songItem">
          <th>3</th>
          <td>Calm-chill-beautiful</td>
          <td>12:45</td>
          <td><img src="/img/play.png" style="width: 50px; height: 50px;" id="song 3"></td>
          <audio id="sing 3">
            <source src="/music/calm-chill-beautiful.mp3" type="audio/mp3">
          </audio>
        </tr>
        <!--row-4-->
        <tr class="songItem">
          <th>4</th>
          <td>The-first-star-calm-relaxing-piano-solo</td>
          <td>03:11</td>
          <td><img src="/img/play.png" style="width: 50px; height: 50px;" id="song 4"></td>
          <audio id="sing 4">
            <source src="/music/the-first-star-calm-relaxing-piano-solo-music.mp3" type="audio/mp3">
          </audio>
        </tr>
        <!--row-5-->
        <tr class="songItem">
          <th>5</th>
          <td>Sleep</td>
          <td>12:45</td>
          <td><img src="/img/play.png" style="width: 50px; height: 50px;" id="song 5"></td>
          <audio id="sing 5">
            <source src="/music/sleep.mp3" type="audio/mp3">
          </audio>
        </tr>
        <!--row-6-->
        <tr class="songItem">
          <th>6</th>
          <td>Secret-friend</td>
          <td>02:31</td>
          <td><img src="/img/play.png" style="width: 50px; height: 50px;" id="song 6"></td>
          <audio id="sing 6">
            <source src="/music/secret-friend.mp3" type="audio/mp3">
          </audio>
        </tr>
      </tbody>
    </table>
    <div class="flex w-full gap-14">
      <div class="grid h-20 flex-grow card bg-black-base-300 rounded-box place-items-center ml-12 mb-12"><label for="countries" class="block mb-2 text-sm font-medium text-black-900 dark:text-white">Select an option</label>
        <select id="countries" class="bg-opacity-100 bg-white-50 border border-black-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-black-600 dark:placeholder-black-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Choose a Book</option>
          <option value="US"><a href="/book/lol.pdf">Light on Life</a></option>
          <option value="CA"><a href="/book/lol.pdf">Light on Life</a></option>
          <option value="FR"><a href="/book/lol.pdf">Light on Life</a></option>
          <option value="DE"><a href="/book/lol.pdf">Light on Life</a></option>
        </select></div>
      <div class="divider divider-horizontal bg-blue-600" ></div>
      <div class="grid h-20 flex-grow card bg-black-base-300 rounded-box place-items-center mb-12">content</div>
      <div class="divider divider-horizontal bg-blue-600"></div>
      <div class="grid h-20 flex-grow card bg-black-base-300 rounded-box place-items-center mb-12">content</div>
    </div>
    <a href="/book/lol.pdf">Light on Life</a>