<!--CAROUSEL-->
<div class="carousel w-full">
  <div id="item1" class="carousel-item w-full">
    <img src="/img/caraousal1.jpeg" class="w-full" />
  </div>
  <div id="item2" class="carousel-item w-full">
    <img src="/img/caraousal1.jpeg" class="w-full" />
  </div>
  <div id="item3" class="carousel-item w-full">
    <img src="/img/caraousal1.jpeg" class="w-full" />
  </div>
  <div id="item4" class="carousel-item w-full">
    <img src="/img/caraousal1.jpeg" class="w-full" />
  </div>
</div>
<div class="flex justify-center w-full py-2 gap-2">
  <a href="#item1" class="btn btn-xs">1</a>
  <a href="#item2" class="btn btn-xs">2</a>
  <a href="#item3" class="btn btn-xs">3</a>
  <a href="#item4" class="btn btn-xs">4</a>
</div>
<!--OUR MOTIVE-->
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
<!--ABOUT US-->
<!--<div class="flex">
    <div class="flex-initial w-21 ml-1 mt-6 mb-6">
        <div class="card w-90 bg-primary text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Card title!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
            </div>
          </div>
    </div>
    <div class="flex-initial w-22 ml-1 mt-8 mb-6">
        <div class="card w-90 bg-primary text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Card title!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
            </div>
          </div>
    </div>
    <div class="flex-initial w-22 ml-1 mt-8 mb-6">
        <div class="card w-90 bg-primary text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Card title!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
            </div>
          </div>
    </div>
    <div class="flex-initial w-21 ml-1 mt-8 mb-6">
      <div class="card w-90 bg-primary text-primary-content">
          <div class="card-body">
            <h2 class="card-title">Card title!</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
          </div>
        </div>
  </div>
  </div>-->

<div class="flex gap-40" id="about-us">
  <div class="card my-10 mr-10 ml-16 item-1">
    <!-- Here I create a New Div with class name card -->
    <div class="card_img">
      <!-- Here I create a New Div for image with class name card_img -->
      <img
        src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-1100x628.jpg"
        alt="user-image"
      />
    </div>
    <div class="card_info">
      <!-- Here I create a New Div for user info with class name card_info -->
      <h2>USER NAME</h2>
      <a href="#!">loremIpsum.com</a>
    </div>
  </div>

  <div class="card m-10 w-25 item-2">
    <!-- Here I create a New Div with class name card -->
    <div class="card_img">
      <!-- Here I create a New Div for image with class name card_img -->
      <img
        src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-1100x628.jpg"
        alt="user-image"
      />
    </div>
    <div class="card_info">
      <!-- Here I create a New Div for user info with class name card_info -->
      <h2>USER NAME</h2>
      <a href="#!">loremIpsum.com</a>
    </div>
  </div>
  <div class="card m-10 w-25 item-3">
    <!-- Here I create a New Div with class name card -->
    <div class="card_img">
      <!-- Here I create a New Div for image with class name card_img -->
      <img
        src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-1100x628.jpg"
        alt="user-image"
      />
    </div>
    <div class="card_info">
      <!-- Here I create a New Div for user info with class name card_info -->
      <h2>USER NAME</h2>
      <a href="#!">loremIpsum.com</a>
    </div>
  </div>
  <div class="card m-10 w-25 item-4">
    <!-- Here I create a New Div with class name card -->
    <div class="card_img">
      <!-- Here I create a New Div for image with class name card_img -->
      <img
        src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-1100x628.jpg"
        alt="user-image"
      />
    </div>
    <div class="card_info">
      <!-- Here I create a New Div for user info with class name card_info -->
      <h2>USER NAME</h2>
      <a href="#!">loremIpsum.com</a>
    </div>
  </div>
</div>
