<!--CAROUSEL-->
<div class="carousel w-full">
    <div id="item1" class="carousel-item w-full">
      <img src="/img/caraousal1.jpeg" class="w-full" />
    </div> 
    <div id="item2" class="carousel-item w-full">
      <img src="/img/caraousal1.jpeg" class="w-full" />
    </div> 
    <div id="item3" class="carousel-item w-full">
      <img src="/img/caraousal1.jpeg" class="w-full" />
    </div> 
    <div id="item4" class="carousel-item w-full">
      <img src="/img/caraousal1.jpeg" class="w-full" />
    </div>
  </div> 
  <div class="flex justify-center w-full py-2 gap-2">
    <a href="#item1" class="btn btn-xs">1</a> 
    <a href="#item2" class="btn btn-xs">2</a> 
    <a href="#item3" class="btn btn-xs">3</a> 
    <a href="#item4" class="btn btn-xs">4</a>
  </div>
  <!--OUR MOTIVE-->
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Hello there</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <!--ABOUT US-->
  <div class="flex">
    <div class="flex-initial w-33 ml-16 mt-6 mb-6">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Card title!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn">Buy Now</button>
              </div>
            </div>
          </div>
    </div>
    <div class="flex-initial w-33 ml-14 mt-8 mb-6">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Card title!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn">Buy Now</button>
              </div>
            </div>
          </div>
    </div>
    <div class="flex-initial w-33 ml-14 mt-8 mb-6">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
              <h2 class="card-title">Card title!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn">Buy Now</button>
              </div>
            </div>
          </div>
    </div>
  </div>