<!--top section-->
<div class="intro py-3 bg-white text-center">
    <div class="container">
        <h2 class="text-primary display-3 my-4 mt-28">Health CheckUp Test</h2>
    </div>
</div>

<!--result section-->
<div class="result py-4 d-none bg-light text-center">
    <div class="container lead">
        <p>Your score is <span class="text-primary display-20 p-3 font-bold ">0%</span></p>
    </div>
</div>

<!--quiz section-->
<div class="quiz py-4 bg-primary">
    <div class="container">
        <h2 class="my-5 text-center text-black text-lg">On with the questions...</h2>

        <form class="quiz-form text-light bg-slate-100">
            <div class="my-5 mx-10">
                <!--q1-->
                <p class="lead font-weight-normal text-black">1. What time would you get up if you were entirely free to plan your day?
                </p>
                <div class="form-check my-2 text-black">
                    <input type="radio" class="bg-white" name="q1" value="A" checked>
                    <label class="form-check-label text-black">5:00 – 6:29 am</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" class="bg-white" name="q1" value="B">
                    <label class="form-check-label text-black">6:30 – 7:44 am</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" class="bg-white" name="q1" value="C">
                    <label class="form-check-label text-black">7:45 – 9:44 am</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" class="bg-white" name="q1" value="D">
                    <label class="form-check-label text-black">9:45 – 10:59 am</label>
                </div>
            </div>
            <div class="my-5 mx-10">
                <!--q2-->
                <p class="lead font-weight-normal text-black">2. What time would you go to bed if you were entirely free to plan your evening?</p>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q2" value="A" checked>
                    <label class="form-check-label text-black">9:00 – 10:14 pm </label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q2" value="B">
                    <label class="form-check-label text-black">8:00 – 8:59 pm</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q2" value="C">
                    <label class="form-check-label text-black">10:15 pm – 12:29 am</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q2" value="D">
                    <label class="form-check-label text-black">1:45 – 2:59 am</label>
                </div>
            </div>
            <div class="my-5 mx-10">
                <!--q3-->
                <p class="lead font-weight-normal text-black">3. If there is a specific time at which you have to get up in the morning, to what extent do you
                    depend on being woken up by an alarm clock?</p>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q3" value="A" checked>
                    <label class="form-check-label text-black">Slightly dependent</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q3" value="B">
                    <label class="form-check-label text-black">Not at all dependent</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q3" value="C">
                    <label class="form-check-label text-black">Fairly dependent</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q3" value="D">
                    <label class="form-check-label text-black">Very dependent</label>
                </div>
            </div>
            <div class="my-5 mx-10">
                <!--q4-->
                <p class="lead font-weight-normal text-black">4. How easy do you find it to get up in the morning (when you are not woken up
                    unexpectedly)?
                    </p>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q4" value="A" checked>
                    <label class="form-check-label text-black">Fairly easy </label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q4" value="B">
                    <label class="form-check-label text-black">Very easy</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q4" value="C">
                    <label class="form-check-label text-black">Not very easy</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q4" value="D">
                    <label class="form-check-label text-black">Not at all easy</label>
                </div>
            </div>
            <div class="my-5 mx-10">
                <!--q5-->
                <p class="lead font-weight-normal text-black">5. How alert do you feel during the first half hour after you wake up in the morning?</p>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q5" value="A" checked>
                    <label class="form-check-label text-black">Fairly alert</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q5" value="B">
                    <label class="form-check-label text-black">Very alert</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q5" value="C">
                    <label class="form-check-label text-black">Slightly alert</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q5" value="D">
                    <label class="form-check-label text-black">Not at all alert </label>
                </div>
            </div>
            <div class="my-5 mx-10">
                <!--q6-->
                <p class="lead font-weight-normal text-black">6. How hungry do you feel during the first half-hour after you wake up in the morning?</p>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q6" value="A" checked>
                    <label class="form-check-label text-black">Fairly hungry </label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q6" value="B">
                    <label class="form-check-label text-black">Very hungry</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q6" value="C">
                    <label class="form-check-label text-black">Slightly hungry</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q6" value="D">
                    <label class="form-check-label text-black">Not at all hungry</label>
                </div>
            </div>
            <div class="my-5 mx-10">
                <!--q7-->
                <p class="lead font-weight-normal text-black">7. During the first half-hour after you wake up in the morning, how tired do you feel?</p>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q7" value="A" checked>
                    <label class="form-check-label text-black">Fairly refreshed </label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q7" value="B">
                    <label class="form-check-label text-black">Very refreshed</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q7" value="C">
                    <label class="form-check-label text-black">Fairly tired</label>
                </div>
                <div class="form-check my-2 text-white-50">
                    <input type="radio" name="q7" value="D">
                    <label class="form-check-label text-black">Very tired</label>
                </div>
            </div>
            <div class="text-center mb-5">
                <input type="submit" class="btn btn-light mb-5">
            </div>
        </form>
    </div>
</div>